.navbar, footer {
    background-color: #FDEDEC
}

.nav-item {
    color: grey;
    cursor: pointer!important;
}

.dropdown .dropdown-item, footer {
    color: grey;
}

.hero-banner {
    background-image: url('snow-ballet-people.webp');
    background-size: cover;         /* Ensures 100% of the image is shown without cropping */
    background-repeat: no-repeat;     /* Prevents the image from tiling */      
    width: 100%;
    
    /* Sets the container ratio to match standard banner proportions */
    aspect-ratio: 16 / 9;             
}

.fancy {
    font-family: 'Pinyon Script', cursive;
    font-size: 75px;
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}

.normal {
    font-weight: 600;
}

.footer-section, .nav-item, .dropdown-item {
    font-family: 'Cormorant Garamond';
    font-weight: bold;
}